@use "../components/mixins" as m;
@use "../components/component";

.folan {
    background-color: red;

    .test {
        .unused {
            color: red;
        }
        p {
            display: block;
        }
    }

    @include m.unusedMixin()
}


.some {
    color: blue;
}


@include m.unusedMixin()